#LinkToThisPage{background-image:none;text-align:left;}
#LinkToThisPage h3{text-align:center;}
#LinkToThisPage label{margin-bottom:0;padding-bottom:0;}
#LinkToThisPage textarea{display:block;margin:auto;}
.Linker_Desc{font-size:85%;margin:auto;text-align:center;}